<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="driverDirectory" value="../../Drivers"/>
    
    <!-- Browser -->
    <add key="browser" value="Chrome"/>
    <!--<add key="browser" value="Firefox"/>-->
    <!--<add key="browser" value="IE"/>-->
    
    <!-- Timeout -->
    <add key="defaultTimeout" value="60"/>
    
    <!-- Log Info -->
    <add key="logDirectory" value="C:\Selenium\Logs\"/>
    <add key="seleniumLogName" value="SeleniumLog"/>
    <add key="actionlogName" value="Actions"/>
    <add key="logAllActions" value="true"/>
    <add key="screenshotDirectory" value="C:\Selenium\Results\Screenshots\"/>
  </appSettings>
</configuration>