<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="driverDirectory" value="../../Drivers"/>
    
    <!-- Timeout -->
    <add key="defaultTimeout" value="5"/>
    
    <!-- Logging Directories -->
    <add key="logDirectory" value="C:\Selenium\Logs\"/>
    <add key="screenshotDirectory" value="C:\Selenium\Results\Screenshots\"/>
    <add key="stacktraceDirectory" value="C:\Selenium\Results\"/>
    
    <!-- Logging Names -->
    <add key="seleniumLogName" value="SeleniumLog"/>
    <add key="actionlogName" value="Actions"/>
    
    <!-- Logging Bools -->
    <add key="logAllActions" value="true"/>
    <add key="logStackTrace" value="true"/>
    <add key="takeScreenshotOnTestPass" value="true"/>
    <add key="takeScreenshotOnTestFail" value="true"/>
    
  </appSettings>
</configuration>